html, body {
    height: 100%;
    overflow-x: hidden;
}

body {
    text-rendering: optimizeLegibility;
    color: #6c6f73;
}


img {
    max-width: 100%;
}


#stage {
    background: url('img/stage.jpg') center center no-repeat;
    background-size: cover;
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
}

#stage-caption {
    font-size: 1.4rem;
    font-weight: 200;
    max-width: 60rem;
    margin: 0 auto;
    text-align: center;
}

#stage-caption h1 {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.feature-content {
    padding: 5rem 0;
}

@media screen and (min-width:991px) {
    
    .feature-content {
        display: flex;
        align-items: center;
        padding: 8rem 0;
    }
}

#feature-four {
    background-color: rgba(255, 127, 80, 0.24);
}

#main-footer {
    background-color: aquamarine;
    color: ivory;
    padding: 5rem 0;
}

#main-footer h6 {
    color: darksalmon;
}

#main-footer a {
    color: cadetblue;
    text-decoration: none;
}

#main-footer a:hover {
    color: ivory;
    transition: .3s;
}

@media screen and (max-width: 576px) {    
    #main-footer {
        padding: 3.5rem 0;
    }
    #main-footer h6 {
        margin-top: 2.2rem;
    }
}